<!DOCTYPE html>
<html ng-app="GitView">

<head>
	<title>GitView</title>
	<script data-require="angular.js@1.6.1" data-semver="1.6.1" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
	<link rel="stylesheet" href="css/main.css">
	<script src="index.js"></script>
</head>

<body ng-controller="MainController" class>
	<header id="header">
		<a href="index.html" class="logo">{{message}}</a>
	</header>
	<section id="banner">
		<div class="content">
			<div> {{ error }} </div>
			<form name="searchUser" ng-submit="search(username)">
				<input type="search" required="" placeholder="Username to find" ng-model="username" autofocus />
				<ul class="actions">
					<li>
						<input type="submit" value="Search" />
					</li>
				</ul>
			</form>
			<!-- <div ng-include="'userdetails.html'" ng-show="user"></div> -->
			<!-- remove below and uncomment former code when properly hosted -->
			<div ng-show="user">
				<h2>{{user.name}}</h2>
				<img ng-src="{{user.avatar_url}}" title="{{user.name}}" width=100px;>
				<h3>Order:
				<select ng-model="repoSortOrder">
        <option value="+name">Name</option>
        <option value="-stargazers_count">Stars</option>
        <option value="+language">Language</option>
      </select>
		</h3>
			</div>
			<table ng-show="user">
				<thead>
					<tr>
						<th>Name</th>
						<th>Stars</th>
						<th>Language</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="repo in repos | orderBy:repoSortOrder">
						<td>{{repo.name}}</td>
						<td>{{repo.stargazers_count | number}}</td>
						<td>{{repo.language}}</td>

					</tr>
				</tbody>
			</table>
			</content>
	</section>
</body>

</html>
